// I know silohet is spelled wrong... to lazy to look it up

// color tone pastel mexican heritage
// variables
$color_01:rgb(71, 183, 93);
$color_02:rgb(183, 0, 0);
$color_03:rgb(138, 0, 0);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Yellowtail&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Yellowtail', cursive;  


//mixins ----------------------------------------------------------------
//-----------------------------------------------------------------------
@mixin block_setup (
    $margin:15px,
    $height:50vh,
){
    margin:$margin;
    width: auto;
    height: $height;
}

@mixin bg_sillohet (
    $background_size:75%,   
    $filter:none,
){
&::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url("images/logo-cropped.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: $background_size;
    opacity: 0.2;
    filter:$filter;
  }
}


@mixin nav_links (
    $font_color:none,
){
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;

    padding-right: 2%;
    width: auto;

    a {
        text-align: center;
        text-decoration: none;
        color: $font_color;

        padding: 5px;
        padding-left: 20px;
        padding-right: 20px;
    }
    a:hover {
        background-color:rgba(128, 128, 128, 1);
        transition: background-color 1s ease-in-out;
    }
}

@mixin split_section(
    $menu_box_filter:none,
    $menu_box_accent_color:$color_03,
    $menu_box_font_color:black,
    $menu_box_bg_color:white,
    $menu_box_border_color:black,

    $silohet_bg_size:75%,   
    $silohet_filter:none,
   
    $general_font_color:black,
    $small_bg_color:$color_01,
    $p_top_border_color: black,

    $small_grid_column:1,
    $large_grid_column:2/ span 2,

    $large_img:none,
){
    @include block_setup($height:70vh);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 1fr;
    gap: 15px;

    .small {
        grid-column: $small_grid_column;
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        background-color: $small_bg_color;



        .menu_box {
            padding: 10px;
            padding-left: 30px;
            padding-right: 30px;
            background-color:$menu_box_bg_color;
            font-size: 25px;
            font-family: 'Roboto', sans-serif;
            color: $menu_box_font_color;
            text-decoration: none;
            border: solid $menu_box_border_color 4px;
            box-shadow: 8px 8px 0px  $menu_box_accent_color ;
            filter:$menu_box_filter;
        }

        @include bg_sillohet( $background_size:$silohet_bg_size,   
        $filter:$silohet_filter,);

        h1 {
            text-align: center;
            font-weight: normal;
            font-family: 'Yellowtail', cursive;
            font-size: 70px;
            color: $general_font_color;
        }

        p {
            border-top: solid $p_top_border_color 3px;
            text-align: center;
            font-family: 'Roboto', sans-serif;
            font-size: 25px;
            line-height: 45px;
            padding-left: 15%;
            padding-right: 15%;
            margin-top: 30%;
            color:$general_font_color;
        }
    }
        
    .large {
        grid-column: $large_grid_column;
        background-image: $large_img;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }   
}

//styling ---------------------------------------------------------------
//-----------------------------------------------------------------------

html,body {
    // height: 200vh;
    margin: 0px;
    padding: 0px;
    background: white;
}


.top_contact_info {
    // position: relative;
    width: 100%;
    height: 5vh;
    background-color: $color_03;
    color: $color_02;
    z-index: 200;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    h2 {
        color: rgb(170, 170, 170);
        padding-right: 20px;
    }

    a {
        color:$color_03;
        font-weight: bold;
        font-size: 20px;
    }
}

header {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-template-rows: 10vh;
    background-color: white;
    padding: 10px;
    
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;

    img {
        grid-column: 1/ 2;
        grid-row: 1;
        height: 100%;
        width: auto;
        filter: invert(11%) sepia(75%) saturate(5626%) hue-rotate(359deg) brightness(83%) contrast(110%);
    }

    .links {
        grid-column: 3 / span 3;
        grid-row: 1;
        width: auto;
        height: 100%;

        display: flex;
        justify-content: end;
        align-items: end;
        gap:2%;


        .link_1{
           @include nav_links($font_color:$color_01);
        }

        .link_2 {
            @include nav_links(rgb(175, 175, 175));
        }

        .link_3 {
            @include nav_links($font_color:$color_03);
        }

        .link_4 {
            @include nav_links($font_color:$color_03);
        }
    }
}


.section_01 {

    @include block_setup(
        $height:auto,
        $margin:0px,
    );

    img {
        width: 100%;
        height: auto;
        object-fit: contain;
        border-bottom: black 1px solid;

    }

}

.section_02 {
    @include block_setup($height:auto);
    background-color:$color_02;
    position: relative;

    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    padding:10px;

    @include bg_sillohet($background_size:40%,$filter:invert(100%));

    p {
        text-align: center;
        font-family: 'Roboto', sans-serif;
        font-size: 25px;
        line-height: 45px;
        padding-left: 15%;
        padding-right: 15%;
        color: white;
    }
}

.section_03 {
    @include split_section($large_img:url("images/Burrito_05.avif"));
}

.section_04 {
    @include split_section(
        $menu_box_filter:none,
        $menu_box_accent_color:$color_01,
        $menu_box_font_color:white,
        $menu_box_bg_color:black,
        $menu_box_border_color:white,

        $silohet_bg_size:75%,   
        $silohet_filter:invert(100%),
    
        $general_font_color:white,
        $small_bg_color:$color_03,
        $p_top_border_color: white,

        $small_grid_column:3,
        $large_grid_column:1/ span 2,

        $large_img:url("images/margerita.avif"),
    )
}

.section_05 {
    @include split_section($large_img:url("images/tacos.avif"));
}

.section_06 {
    @include block_setup($height:auto);
    background-color: white;
    gap: 20px;
}

footer {
    width: 100%;
    height: 10vh;
    background-color: $color_03;
}